<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.base.mapper.TbLabelMapper">

    <select id="findSearch" resultType="com.xyz.base.entity.TbLabel">
        SELECT * FROM tb_label
    </select>
    <select id="page" resultType="com.xyz.base.entity.TbLabel">
        SELECT * FROM tb_label
    </select>

</mapper>
